<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, <%=name %></h1>
	

	<a href="/job/create">Create new job</a> | 
	<a href="/job/joblist">Job list</a> | 
	<a href="/logout">logout</a> 

</body>
</html>
