<!DOCTYPE html>
<html>
<head>
	<title>Create hob post</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New job</legend>
			<table>
				<tr>
					<td>Company Name</td>
					<td><input type="text" name="comname"></td>
				</tr>
				<tr>
					<td>Job tile</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><input type="text" name="location"></td>
				</tr>
				<tr>
					<td>Salary</td>
					<td><input type="text" name="salary"></td>
				</tr>
				
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/employer">Back</a>
</body>
</html>