<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>

	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="text-center mt-5">
			<h1> Welcome, <%= name %></h1>
	

	<a class="myButton" href="/user/create">Add employer</a> | 
	<a class="myButton" href="/home/employerlist">Employer list</a> | 
	<a class="myButton" href="/user/search">Search</a> | 
	<a class="myButton btn-red" href="/logout">Logout</a> 

		</div>
		

	</div>
	

</body>
</html>
