<!DOCTYPE html>
<html lang="en">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   <style>
       body {
  background-color: #5cb85c !important;
}
#wc{
  
  font-weight: bold;
  color: rgb(52, 6, 73);
}
#wcdiv {
    margin-top: 15%;
    text-align: center;
}

.wcbtn {
 
	background-color:#0e2142;
	border-radius:18px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  
}
.wcbtn:hover {
	background-color:#093b3f;
  text-decoration:none;
}
.wcbtn:active {
	position:relative;
	top:1px;
}



   </style>
    <body>
      <div id="wcdiv">
        <h1 id="wc" class="text-center">Welcome to Job portal</h1>
        <a href="/login" class="wcbtn">Please login</a>

      </div>
        
    
      </body>
</html>